* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
#checklox {
  display: none;
}
.box-btn {
  position: absolute;
  top: 120px;
  left: 25%;
  moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  width: 50%;
  background-color: rgb(255, 149, 0);
  border: 1px solid rgb(203, 118, 0);
}
.box-btn:hover {
  background-color: rgb(254, 162, 32);
}
.box-btn:active {
  background-color: rgb(203, 118, 0);
}

.box-btn2 {
  position: absolute;
  top: 180px;
  left: 25%;
  moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  width: 50%;
  background-color: rgb(255, 149, 0);
  border: 1px solid rgb(203, 118, 0);
}
.box-btn2:hover {
  background-color: rgb(254, 162, 32);
}
.box-btn2:active {
  background-color: rgb(203, 118, 0);
}
.bake {
  position: absolute;
  top: 0px;
  left: 3%;
  display: none;
  font-size: 110px;
  color: orange;
  transition: all 0.5 ease;
}
#check {
  display: none;
}
#checklox:checked ~ .bake {
  display: block;
}
#check:checked ~ .bake {
  color: aqua;
}
